grafana:
  plugins:
    - victoriametrics-logs-datasource 0.24.0
    - chaosmeshorg-datasource 3.0.0
  # JSON logging format
  env:
    GF_LOG_MODE: console
    GF_LOG_CONSOLE_FORMAT: json
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"
      searchNamespace: ALL
  ingress:
    ingressClassName: nginx
    enabled: true
    hosts:
      - grafana.apatsev.org.ru
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
defaultDatasources:
  extra:
    - name: victoriametrics-logs
      access: proxy
      type: victoriametrics-logs-datasource
      url: http://victoria-logs-cluster-vlselect.victoria-logs-cluster.svc.cluster.local:9471
      jsonData:
        maxLines: 1000
      version: 1
    - name: Chaos Mesh
      access: proxy
      type: chaosmeshorg-datasource
      url: http://chaos-dashboard.chaos-mesh.svc.cluster.local:2333
      version: 1
defaultRules:
  groups:
    etcd:
      create: false
# kube-state-metrics:
#   metricLabelsAllowlist:
#     - pods=[*]
vmsingle:
  enabled: false
vmcluster:
  enabled: true
  ingress:
    select:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
      hosts:
        - vmselect.apatsev.org.ru
