grafana:
  plugins:
    - victoriametrics-logs-datasource
  sidecar:
    dashboards:
      enabled: false
  ingress:
    ingressClassName: nginx
    enabled: true
    hosts:
      - grafana.apatsev.org.ru
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'strimzi'
          orgId: 1
          folder: 'Strimzi Kafka'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/strimzi
        - name: 'chaos-mesh'
          orgId: 1
          folder: 'Chaos Mesh'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/chaos-mesh
        - name: 'victorialogs'
          orgId: 1
          folder: 'VictoriaLogs'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/victorialogs
  dashboards:
    strimzi:
      strimzi-kafka:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-kafka.json
        datasource: VictoriaMetrics
      strimzi-operators:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-operators.json
        datasource: VictoriaMetrics
      strimzi-kafka-exporter:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-kafka-exporter.json
        datasource: VictoriaMetrics
    chaos-mesh:
      chaos-mesh-overview:
        gnetId: 15706
        revision: 1
        datasource: VictoriaMetrics
    victorialogs:
      victorialogs:
        gnetId: 22759
        revision: 1
        datasource: victoriametrics-logs
defaultDatasources:
  extra:
    - name: victoriametrics-logs
      access: proxy
      type: victoriametrics-logs-datasource
      url: http://victoria-logs-cluster-vlselect.victoria-logs-cluster.svc.cluster.local:9471
      jsonData:
        maxLines: 1000
      version: 1
defaultRules:
  groups:
    etcd:
      create: false
kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[*]
vmsingle:
  enabled: false
vmcluster:
  enabled: true
  ingress:
    select:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
      hosts:
        - vmselect.apatsev.org.ru

# todo убрать default values из файла, которые приходят из helm charts
# todo нужно совместить grafana dashboard providers с grafana dashboards, то есть чтобы были dashboard по умолчанию и новые dashboards, которые будут добавляться в grafana dashboard
# todo исправить дашборд для victoria-logs-cluster. текст ошибки ниже:
```
error: cannot parse query [stream: kubernetes.pod.name="chaos-daemon" | chaos-mesh AND ("=" OR [!=]) | stats count() | missing : in front of "="; apps/v1/deployments.apps.name:"victoria-logs" AND ("=" OR [!=]) | apps.kuberentes.io/name:"chaos-1"] 
```
