grafana:
  plugins:
    - victoriametrics-logs-datasource
  # JSON logging format
  env:
    GF_LOG_MODE: console
    GF_LOG_CONSOLE_FORMAT: json
  sidecar:
    dashboards:
      enabled: false
  ingress:
    ingressClassName: nginx
    enabled: true
    hosts:
      - grafana.apatsev.org.ru
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'strimzi'
          orgId: 1
          folder: 'Strimzi Kafka'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/strimzi
        - name: 'chaos-mesh'
          orgId: 1
          folder: 'Chaos Mesh'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/chaos-mesh
        - name: 'victorialogs'
          orgId: 1
          folder: 'VictoriaLogs'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/victorialogs
  dashboards:
    strimzi:
      strimzi-kafka:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-kafka.json
        datasource: VictoriaMetrics
      strimzi-operators:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-operators.json
        datasource: VictoriaMetrics
      strimzi-kafka-exporter:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-kafka-exporter.json
        datasource: VictoriaMetrics
      strimzi-kraft:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-kraft.json
        datasource: VictoriaMetrics
      strimzi-cruise-control:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-cruise-control.json
        datasource: VictoriaMetrics
      strimzi-kafka-bridge:
        url: https://raw.githubusercontent.com/strimzi/strimzi-kafka-operator/main/examples/metrics/grafana-dashboards/strimzi-kafka-bridge.json
        datasource: VictoriaMetrics
    chaos-mesh:
      chaos-mesh-overview:
        gnetId: 15918
        revision: 1
        datasource:
          - name: DS_PROMETHEUS
            value: VictoriaMetrics
      chaos-daemon:
        gnetId: 15919
        revision: 1
        datasource:
          - name: DS_PROMETHEUS
            value: VictoriaMetrics
      chaos-mesh-stresschaos:
        gnetId: 21102
        revision: 1
        datasource:
          - name: DS_PROMETHEUS
            value: VictoriaMetrics
    victorialogs:
      victorialogs:
        gnetId: 22759
        revision: 1
        datasource: victoriametrics-logs
defaultDatasources:
  extra:
    - name: victoriametrics-logs
      access: proxy
      type: victoriametrics-logs-datasource
      url: http://victorialogs-cluster-vlselect.victorialogs-cluster.svc.cluster.local:9471
      jsonData:
        maxLines: 1000
      version: 1
defaultRules:
  groups:
    etcd:
      create: false
# kube-state-metrics:
#   metricLabelsAllowlist:
#     - pods=[*]
vmsingle:
  enabled: false
vmcluster:
  enabled: true
  ingress:
    select:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
      hosts:
        - vmselect.apatsev.org.ru
